<h2><%= @user.email %></h2>
<h3>Enrolled Tracks</h3>

<% if @learning %>
    <ul>
    <% @learning.each do |track| %>
    <li><%= link_to track.name, track_path(track) %></li>
  <% end %>
  </ul>
  <% else %>
    Enrolled in 0 Courses!
<% end %>
<h3>Classes Taught</h3>
<% if @teaching %>
<ul>
    <% @teaching.each do |track| %>
    <li><%= link_to track.name, track_path(track) %></li>
  <% end %>
  <ul>
  <% else %>
    Teaching 0 Courses!
<% end %>
