<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/"><%= image_tag "logo-text", size: "375"%></a>
<nav class="cd-stretchy-nav">
  <a class="cd-nav-trigger" href="#0">
    <span aria-hidden="true"></span>
  </a>

  <ul>
    <li><a href="#0" class="active"><span>Home</span></a></li>
    <li><a href="#0"><span>My Tracks</span></a></li>
    <li><a href="#0"><span>My Account</span></a></li>
    <li><a href="#0"><span>Sign Out</span></a></li>
  </ul>

  <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>

</nav>
