<div class="popdown-content">

    <h2>What does the fox say?</h2>
    <iframe width="550" height="355" src="//www.youtube.com/embed/jofNR_WkoCE" frameborder="0" allowfullscreen></iframe>
  <footer>
    <button class="close-popdown">Close</button>
  </footer>
</div>