<h1><%= @lesson.title %></h1>

<h2>Lesson Content
  <% if current_user.teacher == @lesson.track.teacher %>
  <%= link_to "Add Resource", new_lesson_resource_path(@lesson.id), class: "btn btn-default btn-lg" %>
  <% end %>
</h2>

 <div class='tabs tabs_active'>
    <ul class='horizontal'>
      <li><a href="#tab-1">Resources</a></li>
      <li><a href="#tab-2">Assessments</a></li>
      <li><a href="#tab-3">Completed</a></li>
    </ul>
    <div id='tab-1'><%= render "resources/show" %></div>
    <div id='tab-2'><span>The second tab is active when page loads.</span></div>
    <div id='tab-3'><span>Tab 3</span></div>
</div>

<a href="/pages/image.html" width="660" class="popdown btn" title="Grumpy Demo">Grumpy Demo</a>
<a href="/pages/youtube.html" class="popdown btn" title="Youtube Demo">Youtube Demo</a>
<a href="/pages/content.html" class="popdown btn" title="Content Demo">Content Demo</a> 