
  <!--=== Features section Starts ===-->
  <section id="section-feature" class="feature-wrap">
    <div class="container features center">
      <div class="row">
        <div class="col-lg-12">
            <!--Features container Starts -->
            <ul id="card-ul" class="features-hold baraja-container">
            
              <!-- Single Feature Starts -->
              <li class="single-feature" title="Card style">
                <img src="app/assets/images/Art.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">Card style</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
                </p>
                
                  <a href="#" class="fancy-button button-line btn-col small vertical">
                    Details
                    <span class="icon">
                      <i class="fa fa-leaf"></i>
                    </span>
                  </a>
                
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="50+ SVG Icon included">
                <img src="images/2.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">50+ SVG Icon included</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="MailChimp Ready">
                <img src="images/3.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">MailChimp Ready</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="4 home style">
                <img src="images/4.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">4 home style</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="Parallax Backgrounds">
                <img src="images/5.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">Parallax Backgrounds</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="Ajax contact form">
                <img src="images/6.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">Ajax contact form</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="unlimited Google fonts">
                <img src="images/7.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">unlimited Google fonts</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
              
              <!-- Single Feature Starts -->
              <li class="single-feature" title="Feature heading">
                <img src="images/8.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
                <h4 class="feature-title color-scheme">Feature heading</h4>
                <p class="feature-text">
                  Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
                </p>
                <a href="#" class="fancy-button button-line btn-col small zoom">
                  Details
                  <span class="icon">
                    <i class="fa fa-leaf"></i>
                  </span>
                </a>
              </li>
              <!-- Single Feature Ends -->
            </ul>
            <!--Features container Ends -->
            
            <!-- Features Controls Starts -->
            <div class="features-control relative">
              <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
                <span class="icon">
                  <i class="fa fa-arrow-left"></i>
                </span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
                <span class="icon">
                  <i class="fa fa-expand"></i>
                </span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
                <span class="icon">
                  <i class="fa fa-compress"></i>
                </span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
                <span class="icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </button>
            </div>
            <!-- Features Controls Ends -->
        </div>
      </div>
    </div>
  </section>
  <!--=== Features section Ends ===-->